PORT=
JWT_SECRET="sidcomv2"
POSTGRES_USER="postgres"
POSTGRES_PASSWORD="12345678"
POSTGRES_DB="sidcom2"
DATABASE_URL="postgresql://postgres:12345678@181.115.146.43:5050/sidcom2?schema=public&connection_limit=50"